html {
  height: 100vh;
}
body {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  font-family: 'Amatic SC', cursive;
  font-size: 2vh;
  font-weight: bold;
  text-shadow: 4px 4px 4px #aaa;
  z-index: -1;
}
p {
  text-align: center;
  font-size: 100%;
  /*line-height: 200%;*/
}
.day {
  background: linear-gradient(to bottom, white 0%, #D4FFFF 80%, #79FBDD 100%);
}
.dawn {
  background: linear-gradient(to bottom, #FFDF85 0%, #F2F5A9 80%, #FBE479 100%);
}
.night {
  background: linear-gradient(to bottom, #2C4756 0%, #7B6396 80%, #B7B7B7 100%);
}
.dawn-to-night {
  background: linear-gradient(to bottom, #ffffff00 0%, #F2F5A9 80%, #B7B7B7 100%);
}
.day-to-dawn {
  background: linear-gradient(to bottom, #ffffff00 0%, #D4FFFF 80%, #79FBDD 100%);
}
.night-to-day {
  background: linear-gradient(to bottom, #ffffff00 0%, #D4E5FF 80%, #7D7D7D 100%);
}
.container {
  height: 80%;
  width: 100%;
  position: fixed;
  z-index: -1;
}
.wrapper {
  margin: 0 auto;
  margin-top: 15vh;
}
#setting {
  color: #00000040;
  padding: 1em;
  position: absolute;
  top: 0;
  right: 20px;
  text-shadow: none;
}
#text {
  padding: 25px 5px 25px 5px;
  height: 100%;
}
#clock {
  font-size: 2em;
}
#date {
  font-size: 2em;
}
#title {
  font-size: 2em;
}
#countdown {
  /*font-family: 'Fredericka the Great', cursive;*/
  font-size: 5em;
  line-height: 1.2em;
  font-weight: bolder;
}
#footer {
  position: fixed;
  left: 0px;
  bottom: 0vh;
  height: 100%;
  width: 100%;
  background-image: url(../resources/skyline.png);
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content form {
  margin-bottom: 1em;
}

form button {
  width: 130px;
  height: 2em;
  background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
  border: none;
  border-radius: 15px;
  position: relative;
  border-bottom: 4px solid #2b8bc6;
  color: #fbfbfb;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  font-size: 15px;
  text-align: center;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
  cursor: pointer;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  font-size: xx-large;
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
